/* ========== header ==========*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
header {
  background-color: #c4c4c4;
  width: 100%;
  padding: 1rem;
}
header h1 i {
  font-size: 2.5rem;
}
header h1 a {
  text-decoration: none;
  color: black;
}
/* ========== nav ==========*/
nav {
  background-color: #3b383c;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
}
nav ul li {
  list-style: none;
  padding: 0.5rem 0.75rem;
}
nav ul li a {
  color: darkgray;
  text-decoration: none;
  font-size: 1.25rem;
}
.active {
  color: white;
}
nav ul li a:hover {
  color: white;
  transition: all 0.5s ease;
}
/* ========== main ==========*/

main {
  padding: 2rem;
}
ol {
  margin-left: 1rem;
}

/* ========== index ==========*/
main.index {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
main.index section.left {
  padding-right: 1.5rem;
  flex: 1 1 768px
}
main.index section.right h4 {
  font-size: 1.25rem;
  text-align: center;
}

main.index section.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 350px;
}

main.index section.right p {
  margin: 1rem 0;
}

#curve_chart{
  width: 100%;
  height: 80%;
}

/* ========== agricultural ==========*/
.agricultural h2 {
  font-weight: bold;
}
.special {
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
  text-align: center;
}

.agricultural section, .cn {
  padding-bottom: 2rem;
}

/* ========== industry ==========*/
.industrySec2 {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}
.industrySec2 p {
  padding: 1.5rem;
}
.industrySec2 .left,
.industrySec2 .right {
  width: 50%;
  flex: 1 1 350px;
}
.industrySec2 .left ol {
  margin-left: 3rem;
}

/* ========== economy ==========*/
.economySec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  flex-wrap: wrap;
}
.economySec1 figure{
}

img.arrow {
  width: 50px;
  height: 50px;
}

.economySec1 figure p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800px;
}

.linkList li a {
  text-decoration: none;
  color: black;
}
.linkList li a:hover {
  color: darkgoldenrod;
}

.linkList li, .authorSec3 li {
  list-style: square;
  margin-left: 1rem;
}
/* ========== author ==========*/
.author {
  padding: 5rem;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
}

.authorSec1 figure img {
  width: 200px;
  border: 2px solid #c4c4c4 ;
  border-radius: 50%;
}
.authorSec2{
  display: flex;
  flex-wrap: wrap;
}
.authorSec2 div{
  padding: 2rem;
  flex: 2 1 ;
}


/* ========== For mobile phone ==========*/

@media screen and (max-width:768px) {
  #curve_chart{
    width: 100%;
    height: 40%;
  }
  .economySec1,.author,.authorSec2,nav ul{
    flex-direction: column;
  }

}